---
import MainLayout from "@/layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import { undefined } from "astro:schema";
const posts = await getCollection('posts');
const sortedPosts = posts.sort((a, b) => b.data.createdAt.valueOf() - a.data.createdAt.valueOf());
console.log(sortedPosts);
---

<MainLayout title="Home">
	<section>
		<h1 class="font-mono">Welcome to my blog</h1>
		{posts.map(post => (
			<article class="my-4">
				<a href="">
				<h2>{post.data.title}</h2>
				<time datetime={post.data.createdAt.toISOString()}>
					{post.data.createdAt.toLocaleDateString("us-us", {
						year: "numeric",
						month: "short",
						day: "numeric"
					})}
				</time>
				</a>
			</article>
		))}
	</section>