---
import FormattedDate from "./FormattedDate.astro";

type Props = {
  title: string;
  createdAt: Date;
  slug: string;
};

const { title, createdAt, slug } = Astro.props;
---

<a href={slug}>
  <div class="px-2 border-b-2">
    <h2>{title}</h2>
    <FormattedDate date={createdAt} />
  </div>
</a>
